h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    padding: 0;
    font-size: 12px;    
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000000;
}
#wrapper{
    max-width:1200px;
    margin: 0 auto;
}
#gnb .top {
    border-bottom: solid 1px #ddd;
    text-align: right;
}
#gnb .top ul li {
    display: inline-block;
    padding: 5px;
    border-left: solid 1px #ddd;
}
#gnb .top ul li:last-of-type {
    border-right: solid 1px #ddd;
}
#gnb .bottom {
    display: flex;
    border-bottom: solid 3px navy;
}
#gnb .bottom div {
    flex: 1;
}
#gnb .bottom .menu_area ul li:hover{
    background-color: navy;
    color: #ffffff;
}
#gnb .bottom .menu_area ul li:hover a{
    color: #ffffff;
}
#gnb .bottom .logo_area img {
    width: 200px;
}
#gnb .bottom .menu_area ul {
    display: flex;
}
#gnb .bottom .menu_area ul li {
    flex: 1;
    text-align: center;
    padding: 40px 0;
}
#main_img{
    position: relative;
    z-index: -10; 
}
#main_img p{
    position: absolute;
    top: 200px;
    left: 0;
    color : white;
    width: 100%;
    text-align: center;
    /* padding-top: 150px; */
    font-size: 30px;
}
#main_img img {
    width: 100%;
}
#contents{
    /* margin: 0 auto; */
    margin-top:-30px; 
     
}
#link_banner ul {
    margin: 0 auto;
    width: 90%;
    display: flex;
}
#link_banner ul li:hover{
    background-color: navy;
    color: #ffffff;
}
#link_banner ul li {
    background-color: #ffffff;
    flex: 1;
    padding: 5px 15px;
    font-size: 12px;
    border-top: solid 1px #ccc; 
    border-left: solid 1px #ccc; 
    border-bottom: solid 1px #ccc; 
}
#link_banner ul li:last-of-type {
    border-right: solid 1px #ccc;
}
#link_banner ul li i {
    float: left;
    font-size: 2.5em;
}
#link_banner ul li h4 {
    float: left;
}
#link_banner ul li p {
    float: left;
}
#recent_board{
    display: flex;
    margin-top: 30px;
}
#recent_board .board_area{
    flex: 1;
}
#recent_board .board_area .title{
    font-weight: bold;
    border-bottom: solid 3px #666;
}
#recent_board .board_area .title i{
    float: right;
}
#recent_board .board_area ul{
    list-style: disc;
    padding-left: 20px;
}
#recent_board .board_area ul li span{
    float: right;
}
#bottom_link_banner{
    margin-top: 70px;
}
#bottom_link_banner ul{
    display: flex;
}
#bottom_link_banner ul li{
    flex: 1;
}
#bottom_link_banner ul li img{
    width: 80px;
}

#bottom_link_banner ul li {
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
#bottom_link_banner ul li:last-of-type{
    border-right: solid 1px #ccc;
}
#bottom_link_banner ul li.career i{
    float: left;
    font-size: 4em;
}
#bottom_link_banner ul li.career .title{
    font-size: 20px;
}
#bottom_link_banner ul li.champion .title{
    font-size: 20px;
}
#bottom_link_banner ul li.champion .sub_title{
    font-size: 12px;
}
#bottom_link_banner ul li.champion i{
    float: right;
    font-size: 4em;
}
#bottom_link_banner ul li.pass img{
    float: left;
}
#bottom_link_banner ul li.pass .title{
    font-size: 20px;
}
#footer{
    margin-top: 30px;
}
#footer div:first-of-type{
    position: relative;
}
#footer div ul.link_list li img {
    width : 80px;
}
#footer div ul.link_list{
    text-align: center;
}
#footer div ul.link_list li{
    border: solid 1px #ccc;
    text-align: center;
    width: 140px;
    display: inline-block;
}
#footer div span{
    position: absolute;
    top:7px;
}
#footer div span.left {
    left:30px;
}
#footer div span.right {
    right: 30px;
}
#footer .bottom{
    display: flex;
    margin-top: 30px;
}
#footer .bottom div{
    flex: 1;
}
#footer .bottom div:nth-child(2){
    text-align: right;
}
#footer .bottom img {
    width:200px;
}
